body {
    font-family: "Arial", sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #666;
    line-height: 1.6;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.submitbtn {
    background-color: #4caf50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submitbtn:hover {
    background-color: #45a049;
}

a {
    color: dodgerblue;
}

input[type="checkbox"] {
    accent-color: #4caf50;
}
